<app-header></app-header>
<div class="list-events-page">
    <div class="event-card-container">
      <div class="event-card" *ngFor="let event of events">
        <div class="event-card-top">
          <p class="event-name">{{ event.name }}</p>
          <p class="event-date">{{ event.startDate | date  }}</p>
        </div>
  
        <p class="description">
          {{ event.description }}
        </p>
  
        <div class="btn-container">
            <button class="edit-btn" (click)="updateEvent(event.id)">Editar</button>
            <button class="delete-btn" (click)="deleteEvent(event.id)">Remover</button>
          </div>
      </div>
      <!-- <button (click)="deleteEvent(event.id)">Delete</button> -->
    </div>
  </div>
  