.form-page{
    background-color: #2C2C2C;
    height: 100%;
    color: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form h2{
    text-align: center;
}

form{
    background-color: #4C4C4C;
    margin: 0 auto;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 600px;
    width: 100%;
}

form input, form textarea{
    border-radius: 8px;
    height: 48px;
    background-color: #2C2C2C;
    color: white;
    border: none;
    padding: 0px 8px;
}

form textarea{
    padding-top: 8px;
    height: 80px;
}

form input::placeholder{
    color: rgb(129, 129, 129);
}


form button{
    background-color: #7603CB;
    width: 50%;
    border-radius: 8px;
    border: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    padding: 12px 0px;
    cursor: pointer;
    max-width: 200px;
}

.button-container{
    display: flex;
    justify-content: center;
}

p{
    color: white;
    text-align: center;
}

.create-account-link{
    font-weight: bold;
   
    text-decoration: underline;
}

.create-account-link:hover{
    cursor: pointer;
    color: #8b1cda;
}
